<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
      }
      html,
      body {
        height: 100vh;
        overflow: hidden;
        background: #efefef;
      }
      div {
        line-height: 1;
        font-size: 4mm;
        margin: 4mm 6mm;
      }
    </style>
  </head>
  <body>
    <div>流水号：$1</div>
    <div>名称：$2</div>
    <div>检验结果：$3</div>
    <div>检验员：$4</div>
    <div>日期：$5</div>
  </body>
</html>
